---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   I am an exceptional, charismatic, career-minded individual, resourceful and knowledgeable Social Media professional with expertise in SEO, looking forward to utilizing and developing my skills and experience to contribute to the growth of a global firm.   I am proactive, energetic, and disciplined, with a passion for Digital Marketing and a strong interest in solving complex marketing problems. I am committed and enthusiastic about applying creative thinking to develop and execute social media and SEO strategies that drive engagement, build brand awareness, and foster community growth.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing"
      subtitle="2024 at Honey Treat Trade Academy, Lagos, Nigeria"
    />
    <TimeLineElement
      title="B.sc in Biochemistry"
      subtitle="2018 to 2023 at Osun state University, Osun, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
  
  <TimeLineElement
      title="PPC & SEO Specialist"
      subtitle="January 2025-Present at GATEGOLD FITNESS NIGERIA LIMITED(REMOTE), Lagos, Nigeria"
    >
•Executed digital marketing strategies to promote the brand and increase online engagement.
•Improved website rankings by conducting thorough keyword research and implementing effective SEO techniques.
•Managed and optimized Google Ads campaigns to drive traffic, increase conversions, make sales, and maximize ROI.
•Monitored website performance and adapted strategies to meet evolving market trends.
 </TimeLineElement>

<TimeLineElement
      title="Digital Marketer"
      subtitle="December 2024-Present at NEOVARSITY GLOBAL(REMOTE), Lagos, Nigeria"
    >
• Manage and optimize the company’s social media platforms to enhance brand visibility and engagement.
•Generate quality leads through targeted digital campaigns.
•Develop and run Meta ads with a focus on conversion optimization.
•Design and send newsletter emails to prospects, effectively communicating the company’s value proposition.
 </TimeLineElement>

<TimeLineElement
      title="Digital Marketer"
      subtitle="2024 at Digitaladplanet, Lagos, Nigeria"
    >
•	 Developed and implemented comprehensive digital marketing campaigns to drive brand awareness and sales.
•	Collaborated with cross-functional teams to refine marketing strategies and ensure campaign success.
•	analyzed campaign performance and applied data-driven insights for continuous improvement.
    </TimeLineElement>

<TimeLineElement
      title="Digital Marketing Intern"
      subtitle="2024 at GREENPATHSDEV, Lagos, Nigeria"
    >
      •	Executed SEO best practices to enhance website visibility
•	Designed and launch targeted email marketing campaigns
•	Managed a Google business profile
•	Monitored digital marketing metrics such as conversion rate, bounce rate
•	Managed and optimized PPC campaigns across various platforms 
•	Assisted in creating SEO-friendly content, including blog posts, web pages, and social media updates, to attract organic traffic.
    </TimeLineElement>
    <TimeLineElement
      title="Customer Service"
      subtitle="From 2023 to 2024 at Oyin’s Store, Osun, Nigeria"
    >
      •	Organizing customer information and details
•	Handling customer’s inquiries and complaints
•	Maintained detailed records of customer
•	Assisted customers with product selection

    </TimeLineElement>
    <TimeLineElement
      title="Medical Laboratory Intern"
      subtitle="From 2021 to 2022 at DE-Lakeland Imperial Medical Centre, Lagos, Nigeria"
    >
      •	Assisted in preparing and analyzing samples for experiments
•	Responsible for maintaining laboratory equipment
•	Documented experimental results and observations meticulously
•	Ensured compliance with safety regulations and protocols.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Google Ads Video Certification https://skillshop.credential.net/a0c77c70-bbfe-46c4-95d8-4317e04dbc72#acc.9Z2ynStu</a>
    </li>
    <li>
      <a href="#" target="_blank"> Google Ads Display Certification https://skillshop.credential.net/b67b8bd8-d074-4c79-9f1f-18b4099e8955#acc.8areD3JC</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Email Marketing</li>
    <li>Google Business Profile</li>
    <li>Meta Ads</li>
    <li>Social Marketing</li>
    <li>Google Ads</li>
    <li>Search Engine Optimization</li>
    <li>Pay Per Click</li>
    <li>Schema Markup</li>
    <li>Linkedin Optimization</li>
    <li>Google Analytics</li>
    <li>Google Search Console</li>
    <li>Wikipedia</li>
    <li>Content Writing</li>
    <li>Looker Studio</li>
    <li>Google Tag Manager</li>
  </ul>
</BaseLayout>
