---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---
<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there👋</div>
    <div class="text-5xl font-bold">I'm Oladele Rofiat</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Specialist</div>
    <div class="py-2">
      <span class="text-lg">
        This is <b>Oladele Rofiat</b>. I am a digital marketer specialized in Search Engine Optimization (SEO), Search Engine Marketing (SEM), social media advertising, email marketing, and content creation. I help business owners drive growth, increase brand visibility and optimize Return on Investment (ROI). With a passion for staying ahead of trends and continuously improving my skills, I help businesses grow by boosting online presence, increasing engagement, and driving conversions through effective marketing solutions.
      </span>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/oladele66025?t=XGIhQ2TscX8ru9pYuDa9qg&s=09">Let's connect!</a>
      <a href="https://www.linkedin.com/in/rofiat-oladele" target="_blank" class="btn btn-outline ml-5">
        Review my Resume
      </a>
    </div>
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-2">My Projects {"</>"}</div>
  </div>
  <HorizontalCard
    title="Breathe Easy, Cost & Tips to Professional Smoke Removal Service"
    img="/post_img.webp"
    desc="Smoke Damage can be devastating to our health, without a proper smoke removal service in a home or business after the problem of smoke damage or as a result of accumulated cigarette smoke in a property"
    url="https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breathe-easy-cost-tips-to-professional-smoke-removal-service/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AI Is Now Coding For My Boss"
    img="/post_img.webp"
    desc="We can't dispute the fact that artificial intelligence is so helpful to humans, and it has reduced the stress and hassle in the workplace. This same AI has made so many people so lazy that they can't think straight on their own."
    url="https://www.nairaland.com/8450134/ai-now-coding-boss#135735719"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Top 4 Places To Purchase Gadgets In Lagos"
    img="/post_img.webp"
    desc="Buying a gadget in Lagos can feel like playing a game of chance, especially when you end up in the wrong store. One wrong step and you are walking home with a fake phone, a malfunctioning laptop, or an iPad that refuses to power on."
    url="https://www.nairaland.com/8453020/top-4-places-purchase-gadgets#135782714"
    badge="FOSS"
  />
</BaseLayout>
