---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Oladele Rofiat</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Specialist</div>
    <div class="py-2">
      <text class="text-lg">
        This is <b>Oladele Rofiat</b>I am a digital marketer specialize in Search Engine Optimization (SEO), Search Engine Marketing (SEM), social media advertising, email marketing, and content creation. I help business owner drive growth, increase brand visibility and optimize Return on Investment(ROI). With a passion for staying ahead of trends and continuously improving my skills, I help businesses grow by boosting online presence, increasing engagement, and driving conversions through effective marketing solutions.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/oladele66025?t=XGIhQ2TscX8ru9pYuDa9qg&s=09"> Let's connect!</a>
      <a href="www.linkedin.com/in/rofiat-oladele" target="_blank" class="btn btn-outline ml-5">
        Review my Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Breathe Easy, Cost & Tips to Professional Smoke Removal Service"
    img="/post_img.webp"
    desc="Smoke Damage can be devastating to our health, without a proper smoke removal service in a home or business after the problem of smoke damage or as a result of accumulated cigarette smoke in a property"
    url="https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breathe-easy-cost-tips-to-professional-smoke-removal-service/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Number 1 Best SEO Agency In Lagos State"
    img="/post_img.webp"
    desc="Are you in need of  best SEO agency in Lagos,  Hire GREENPATHSDEV SEO Agency in Lagos today ,enhance your business online presence by  bring traffic to your business website and generating leads, sales, views and impression on your website."
    url="https://greenpathsdev.com/best-seo-agency-in-lagos-state-nigeria/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Professional Biohazard Cleanup: Ensuring Your Health and Safety"
    img="/post_img.webp"
    desc="What could be more important than your health and safety. Get rid of unnecessary biohazard which could endanger your health and harm your safety. This can only be done by a Professional biohazard cleanup expert."
    url="https://greenpathsdev.com/professional-biohazard-cleanup/"
    badge="FOSS"
  />

 
</BaseLayout>
